#planes.planes {
    text-align: center; /* Alinear el texto al centro para los elementos hijos */
}

#planes.planes .plan {
    display: inline-block; /* Mostrar los planes como bloques en línea */
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 30%;
    margin: 0 10px; /* Añadir un margen para separar los planes */
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

#planes.planes .plan:hover {
    transform: translateY(-10px);
}

#planes.planes .plan h2 {
    color: #333;
    font-size: 24px;
}

#planes.planes .plan p {
    font-size: 18px;
    margin: 10px 0;
}

#planes.planes .plan ul {
    list-style: none;
    padding: 0;
    margin: 15px 0;
}

#planes.planes .plan ul li {
    margin-bottom: 5px;
}

#planes.planes .plan .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#planes.planes .plan .btn:hover {
    background-color: #0056b3;
}
.btn-regresar {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    text-decoration: none; /* Quítale el subrayado al texto */
}

.btn-regresar:hover {
    background-color: #0056b3;
}

